@import '../utilities/variables.scss';

.homepage {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $black;
  border: 10px solid $red;
  height: 100vh;
  color: $red;
  font-family: ubuntu;
  
  h1 {
    letter-spacing: 5px;
    color: inherit;
    font-weight: 800;
    width: 100%;
    text-align: center;
  }

  h2 {
    text-align: center;
    margin: 0.5em;
  }

  h3 {
    margin-top: 0.5em;
    text-align: justify;
  }

  .dossier {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    
    img {
      margin-bottom: 1em;
      width: 100%;
      object-fit: contain;
      transition-duration: 1000ms;
    }

    .eye {
      position: fixed;
      width: 100px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 1;
    }

    .blur {
      position: fixed;
      bottom: 10px;
      left: 10px;
      right: 10px;
      background-color: #000a;
      backdrop-filter: blur(16px);
    }

    .zoom-in {
      transform: scale(1.2);
      transform-origin: top;
    }
  }
}

.border-padding {
  padding: 0px;
}
 