@import '../utilities/variables.scss';

.hacking-screen {
  width: 100%;
  height: 100%;
  font-family: Ubuntu;
  position: absolute;
  top: 0;

  .red-bg {
    background-color: $red;
    height: 100%;
    transition-duration: 2000ms;
    overflow: hidden;
    color: $gold;
  }

  h1 {
    color: $yellow;
    font-family: Ubuntu;
    letter-spacing: 5px;
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .right-corner {
    background-color: $yellow; 
    top: 7vh;
    left: 40vw;
    right: 1em;
    transition-duration: 2000ms;
    
    h1 {
      font-size: 24px;
      color: $red;
      text-align: right;
    }
  }

  img {
    display: none;
    background-color: $black;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top: solid 5px $red;
    transition-duration: 500ms;
  }

  .zoom-out {
    width: 0;
    height: 0;
    transform: scale(0);
  }
}