@import '../utilities/variables.scss';

.info-toto {
  font-size: 28px;
  position: fixed;
  top: 50vh;
  left: 3vw;
  right: 3vw;
  height: 160px;
  color: $yellow;
  display: none;
  flex-direction: column;
  gap: 0.5em;

  .bottom-span {
    align-self: flex-end;
  }

  .text {
    align-self: center;
    min-height: 1.25em;
    text-align: center;
  }
}