// COLORS //

$black: rgb(0, 0, 0);
$red: rgb(150, 0, 0);
$orange: rgb(204, 109, 0);
$gold: rgb(146, 119, 0);
$yellow: rgb(255, 243, 80);
$soft-white: rgb(235, 235, 235);
$translucent-green: rgba(0, 199, 0, 0.801);