// COLORS //

$black: rgb(0, 0, 0);
$grey: rgb(80, 80, 100);
$soft-grey: rgb(120, 120, 140);
$red: rgb(150, 0, 0);
$orange: rgb(204, 109, 0);
$gold: rgb(146, 119, 0);
$yellow: rgb(255, 243, 80);
$folder: rgb(235, 226, 111);
$green: rgb(0, 199, 0);
$blue: rgb(0, 72, 131);
$translucent-green: rgba(0, 199, 0, 0.801);
$soft-white: rgb(235, 235, 235);