@import './utilities/variables.scss';

@import url('./animation/Start-Screen.scss');
@import url('./animation/Loading-Screen.scss');
@import url('./animation/Hacking-Screen.scss');
@import url('./animation/Scanner.scss');
@import url('./animation/Info-Toto.scss');
@import url('./animation/Error-Screen.scss');
@import url('./animation/Truth-Screen.scss');

@import url('./site/Homepage.scss');

@import url('./server/Server.scss');

.animation {
  height: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 900px;
  background: none;
}

.blink {
  opacity: 0;
}