@import url('./Loading-Screen.scss');
@import url('./Hacking-Screen.scss');
@import url('./Scanner.scss');
@import url('./Info-Toto.scss');

.container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    max-width: 2400px;
}